h1{
    color: orange;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    background-color: rgb(84, 0, 122);
}

#uno{
    color: rgb(200, 28, 223);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#dos{
    color: rgb(253, 216, 6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#tres{
    color: rgb(204, 25, 135);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cuatro{
    color: rgb(252, 42, 42);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.uno{
    color: rgb(0, 255, 34);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dos{
    color: rgb(255, 12, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tres{
    color: rgb(0, 190, 149);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
